a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.tt-hint{
	display:none;
}
.navbar{
	padding:0px;
}
.SearchBox {
    display: block;
	background-image: url(https://ancestry.dannyk.us/static/icons/icon_search.svg) !important;
    background-position: 10px 12px !important;
    background-repeat: no-repeat !important;
    background: #fff;
    font-size: 16px;
    padding: 0px 20px 0px 40px;
    border: 1px solid #999;
    margin:2px;
    min-height: 48px;
    border-radius: 25px;
    width: 372px;
}
.SearchBoxDiv{
    width: 400px;
    margin-top: 10px;
}
.HeaderRow{
	position: fixed;
    top: 8px;
    left: 60px;
    z-index: 9998;
}
.typeahead-standalone .tt-input {
    background: #fff;
    z-index: 9999;
}

.highlight-arrow {
    border-radius: 40px;
    background: yellow;
}
.user_info {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 9998;
}

.user-image {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  border-radius: 50%; /* Make the image circular */
  margin-right: 10px; /* Adjust spacing between image and text */
}

.user-name {
  color: #333; /* Dark grey color */
  font-size: 16px; /* Change font size */
  font-weight: bold; /* Optionally, make the text bold */
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5); /* Keep the shadow effect */
}
.overlay {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 9999;
	justify-content: center;
	align-items: center;
}
.custom-marker-text {
	position: relative;
    white-space: nowrap;
    font-weight: bold;
    display: inline-block;
	left: 100%;
    transform: translateX(-50%);
	z-index: 1000;
  }
.custom-marker-icon-with-text{
	margin-left: -12px !important;
    margin-top: -38px !important;
}
.marker-shadow {
	position: absolute;
	width: 41px;
	height: 41px;
	bottom: -28;
	z-index: 999; /* Ensure shadow appears below marker */
}
.leaflet-control-attribution{
	display:none;
}
.leaflet-popup-pane{
    margin-top: 80px;
}
.leaflet-popup{
    margin-bottom:80px;
}
.leaflet-popup-content{
	min-width:500px;
	white-space: pre-line;
}