<html>
<head>
<title>Ancestry Map</title>
<link rel="stylesheet" href="static/leaflet.css" />
<script src="static/leaflet.js"></script>
<script src="static/leaflet.markercluster.js"></script>
<link rel="stylesheet" href="static/MarkerCluster.css" />
<link rel="stylesheet" href="static/MarkerCluster.Default.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<link href="static/icons/css/fontawesome.css" rel="stylesheet">
<link href="static/icons/css/brands.css" rel="stylesheet">
<link href="static/icons/css/solid.css" rel="stylesheet">
<script src="static/typeahead.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/typeahead-standalone/dist/basic.css" />
</head>
<body>
<div class="overlay" id="SpinnerDiv">
	<div class="spinner">
		<div class="spinner-border" style="width:10rem;height:10rem;" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
</div>
<div class="user_info">
	<img src="" alt="User Image" class="user-image">
	<span class="user-name"></span>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="display:none;">
<!-- fixed-top -->
	<div class="container-fluid">
	  <span class="heading" href="#">Family Ancestry</span>
	  <div class="navbar-nav">
	  </div>
	</div>
</nav>
<div id="map" style="height: 100%;background-color:#aad3df;"></div>
<div class="HeaderRow row">
	<div class="SearchBoxDiv col-auto">
		<input id="SearchBox" class="SearchBox shadow-sm" autocomplete="off"></input>
	</div>
	<div class="col-auto vstack">
		<i class="fa-2x fa-solid fa-circle-up highlight-arrow" style="cursor:pointer;" id="lineage-up"></i>
		<i class="fa-2x fa-solid fa-circle-down" style="cursor:pointer;" id="lineage-down"></i>
	</div>
	<i class="fa-solid fa-2x fa-backward col-auto" onclick="FastForwardReverse('Reverse');" style="margin-top:16px;cursor:pointer;"></i>
	<i class="fa-solid fa-2x fa-play col-auto" id="PlayPause" onclick="PlayHistory();" style="margin-top:16px;cursor:pointer;"></i> 
	<i class="fa-solid fa-2x fa-forward col-auto" onclick="FastForwardReverse('Forward');" style="margin-top:16px;cursor:pointer;"></i>
	<span id="CurrentYear" class="col-auto" style="font-weight:bold;font-size:35px;margin-top:4px">2024</span>
</div>
<div style="z-index: 9998;position: fixed;bottom: 10px;right: 10px;border:2px solid #999;;font-size:30px;padding:10px;background-color:rgba(255,255,255,0.9);border-radius:20px;min-width:130px;">
<table width="100%">
    <tbody><tr align="center"><td>
    <img height="30" src="https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png">
    </td><td>
    1900-Present
    </td></tr>
    <tr align="center"><td>
    <img height="30" src="https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-gold.png">
    </td><td>
    1800-1900
    </td></tr>
    <tr align="center"><td>
    <img height="30" src="https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png">
    </td><td>
    1600-1800
    </td></tr>
    <tr align="center"><td>
    <img height="30" src="https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png">
    </td><td>
    Past-1600
    </td></tr>
    <tr align="center"><td>
    <img height="30" src="https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-black.png">
    </td><td>
    No Date
    </td></tr>
    </tbody>
</table>
</div>
</body>
<link href="static/include/main.css" rel="stylesheet">
<script async src="/static/include/main.js" crossorigin="anonymous"></script>
</html>

